<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />
    <link rel='stylesheet' href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css' />
  </head>
  <body>
    <!-- riot tags -->
    <header></header>
    <script src="/tags/header.tag" type="riot/tag"></script>
    <add-tags></add-tags>
    <script src="/tags/add-tags.tag" type="riot/tag"></script>

    <!-- scripts we need -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script src="https://rawgit.com/riot/riot/master/riot%2Bcompiler.min.js"></script>
    
    <!-- mount this app -->
    <script>
      riot.mount('header');
      riot.mount('add-tags');
    </script>
  </body>
</html>
