<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />
    <link rel='stylesheet' href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css' />
  </head>
  <body>
    <!-- riot tags -->
    <todo></todo>
    <script src="/tags/todo.tag" type="riot/tag"></script>

    <!-- scripts we need -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script src="https://rawgit.com/riot/riot/master/riot%2Bcompiler.min.js"></script>
    
    <!-- mount this app -->
    <script>
      riot.mount('todo', {
        title: 'Todo list!',
        items: 
        <%- list %>
      })
    </script>
  </body>
</html>
